nav {
	color: #32323E;
	font-family: 'Playfair Display';
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto 0;
	padding: 0 60px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.logo-wrapper {
	width: 168px;
	height: 29px;
}

.logo {
	width: 100%;
}

.link {
	color: #FFFFFF;
	text-decoration: none;
}

.link:nth-child(3) {
	padding-right: 40px;
}

.active {
	color: #793752;
}

.hamburger-menu {
	display: none;
}

.list-wrapper {
	display: flex;
	align-items: center;
	width: 485px;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
  	list-style: none;
  	font-size: 14px;
  	color: #FFFFFF;
	width: 100%;
}

.say-hello {
	background-color: #AE8C9A;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
  	font-size: 14px;
  	font-weight: 700;
  	border-radius: 40px;
	padding: 8px 20px;
	white-space: nowrap;
}

.say-hello:hover {
	border-style: none;
	border-width: 2px;
	border-color: #cca9b7;
	background-color: #fff;
	color: #cca9b7;
}

@media screen and (max-width: 768px) {
	nav {
		padding: 0 30px;
	}

	.navbar {
		position: relative;
	}

	.list-wrapper {
		height: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		align-items: flex-start;
		transition: height 100ms, ;
		padding: 0 8px 0 8px;
		overflow: hidden;
	}

	.list-wrapper.open {
		padding-bottom: 8px;
		height: 210px;
	}

	.nav-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		background-color: #cca9b4;
		border-radius: 8px;
		padding: 12px;
		z-index: 2;
	}

	.link {
		padding: 20px;
	}

	.hamburger-menu {
		box-sizing: border-box;
		width: 50px;
		height: 50px;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 15px;
		border-radius: 8px 8px 0 0;
		transition: color 100ms;
	}

	.hamburger-menu.open {
		background-color: #cca9b4;
	}

	.hamburger-menu span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #FFFFFF;
	}
}
